# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
.idea/
*.iml

# Gradle
.gradle/
gradle-wrapper.jar
gradlew
gradlew.bat
/local.properties

# Android specific
/captures/
**/GeneratedPluginRegistrant.java
.cxx/

# iOS specific
Pods/
DerivedData/
*.xcworkspace
*.xcconfig
*.plist
*.hmap
*.ipa

# Keystore
# Never publicly share your keystore
key.properties
**/*.keystore
**/*.jks

# VS Code / IntelliJ
.vscode/
*.log

# Others
*.lock
*.class
*.jar
*.apk
*.aab
*.so
*.dylib
*.db
*.DS_Store
